<div class="add-notes">
  <div class="add-text-notes-container">
    <button aria-label="add text note" type="button" class="add-text-note"><img src="/images/text-note.png" alt=""></button>
    <p>Add Text note</p>
  </div>
  <div class="add-voice-notes-container">
    <button aria-label="add voice note" type="button" class="add-voice-note"><img src="/images/voice-note.png" alt=""></button>
    <p>Add Voice note</p>
  </div>
</div>
