<div class="error-success" style="transform: translateX(-110%);">
  <h2 class="error-success__mesg" aria-label="error message"></h2>
  <button type="button" class="error-success__close" style="transform: rotate(360deg);transition: transform 350ms ease-in-out;" aria-label="close error message">
    <div class="x-limbs x-limb-1"></div>
    <div class="x-limbs x-limb-2"></div>
  </button>
</div>
