<footer>
  <div class="footer-container">
    <h3 class="footer__caption">The only way to take notes in a modern world</h3>
    <a href="https://github.com/kelseykm" class="footer__copyright">kelsey km &#169;<span class="footer__copyright-year"></span></a>
    <script type="text/javascript">
      document.querySelector('.footer__copyright-year').innerText = new Date().getFullYear();
    </script>
  </div>
</footer>
