<section>
  <nav class="nav-bar" style="transform: translateX(-100%);user-select: none;pointer-events: none;">
    <div class="nav-content-separator"></div>

    <div class="profile">
      <div class="profile__head"></div>
      <div class="profile__body"></div>
    </div>

    <div class="username-container">
      <span class="username">{{my.username}}</span>
    </div>

    <div class="account-actions">
      <button type="button" class="account-logout btn">Log out</button>
      <button type="button" class="account-delete btn">Delete account</button>
      <button type="button" class="account-changeusername btn">Change username</button>
      <button type="button" class="account-changepassword btn">Change password</button>
    </div>

    <div class="topic-section">
      <p class="topic-section__head">Recent topics</p>
    </div>
  </nav>
</section>
