<div class="confirm-action-popup" style="transform: translate(-50%, -50%) scale(0);">
  <p class="confirm-action-popup__question">Are you sure?</p>
  <div class="confirm-action-popup__btns">
    <button type="button" class="confirm-action-popup-btn__yes btn" aria-label="yes">Yes</button>
    <button type="button" class="confirm-action-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</div>

<form class="changeusername-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="username" class="changeusername-popup__label">Change username:</label>
  <input aria-label="username" type="text" class="changeusername-popup__text" name="username" required autocomplete="username">
  <div class="changeusername-popup__btns">
    <button type="submit" class="username-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="username-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="changepassword-popup" style="transform: translate(-50%, -50%) scale(0);">
  <p class="changepassword-popup__label">Change password</p>
  <div class="current-password-container">
    <label for="current_password">Enter current password</label>
    <div class="current-password-sub-container">
      <input aria-label="current password" type="password" class="changepassword-popup__text" name="current_password" required autocomplete="current-password">
      <button type="button" aria-label="show-password" class="show-current-password" title="Show password">
        <img class="show-current-password__image" src="/images/show-password.png" alt="show-password">
      </button>
    </div>
  </div>
  <div class="new-password-container">
    <label for="new_password">Enter new password</label>
    <div class="new-password-sub-container">
      <input aria-label="new password" type="password" class="changepassword-popup__text" name="new_password" required autocomplete="new-password">
      <button type="button" aria-label="show-password" class="show-new-password" title="Show password">
        <img class="show-new-password__image" src="/images/show-password.png" alt="show-password">
      </button>
    </div>
  </div>
  <div class="confirm-password-container">
    <label for="confirm_password">Confirm new password</label>
    <div class="confirm-password-sub-container">
      <input aria-label="confirm new password" type="password" class="changepassword-popup__text" name="confirm_password" required autocomplete="new-password">
      <button type="button" aria-label="show-password" class="show-confirm-password" title="Show password">
        <img class="show-confirm-password__image" src="/images/show-password.png" alt="show-password">
      </button>
    </div>
  </div>
  <div class="changepassword-popup__btns">
    <button type="submit" class="password-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="password-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="subjects-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="subject_name" class="subjects-popup__label">Enter subject name:</label>
  <input aria-label="subject name" type="text" class="subjects-popup__text" name="subject_name" required>
  <div class="subjects-popup__btns">
    <button type="submit" class="subjects-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="subjects-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="edit-subjects-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="subject_name" class="edit-subjects-popup__label">Edit subject name:</label>
  <input aria-label="former subject name" type="text" name="former_subject_name" required style="display: none;">
  <input aria-label="subject name" type="text" class="edit-subjects-popup__text" name="subject_name" required>
  <div class="edit-subjects-popup__btns">
    <button type="submit" class="edit-subjects-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="edit-subjects-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="sections-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="section_name" class="sections-popup__label">Enter section name:</label>
  <input aria-label="subject name" type="text" name="subject_name" required style="display: none;">
  <input aria-label="section name" type="text" class="sections-popup__text" name="section_name" required>
  <div class="sections-popup__btns">
    <button type="submit" class="sections-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="sections-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="edit-sections-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="section_name" class="edit-sections-popup__label">Edit section name:</label>
  <input aria-label="subject name" type="text" name="subject_name" required style="display: none;">
  <input aria-label="former section name" type="text" name="former_section_name" required style="display: none;">
  <input aria-label="section name" type="text" class="edit-sections-popup__text" name="section_name" required>
  <div class="edit-sections-popup__btns">
    <button type="submit" class="edit-sections-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="edit-sections-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="topics-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="topic_name" class="topics-popup__label">Enter topic name:</label>
  <input aria-label="subject name" type="text" name="subject_name" required style="display: none;">
  <input aria-label="section name" type="text" name="section_name" required style="display: none;">
  <input aria-label="topic name" type="text" class="topics-popup__text" name="topic_name" required>
  <div class="topics-popup__btns">
    <button type="submit" class="topics-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="topics-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="edit-topics-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="topic_name" class="edit-topics-popup__label">Edit topic name:</label>
  <input aria-label="former topic name" type="text" name="former_topic_name" required style="display: none;">
  <input aria-label="topic name" type="text" class="edit-topics-popup__text" name="topic_name" required>
  <div class="edit-topics-popup__btns">
    <button type="submit" class="edit-topics-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="edit-topics-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<div class="overlay" style="display: none;"></div>
