<form class="subjects-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="subject_name" class="subjects-popup__label">Enter subject name:</label>
  <input aria-label="subject name" type="text" class="subjects-popup__text" name="subject_name" required>
  <div class="subjects-popup__btns">
    <button type="submit" class="subjects-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="subjects-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="edit-subjects-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="subject_name" class="edit-subjects-popup__label">Edit subject name:</label>
  <input aria-label="former subject name" type="text" name="former_subject_name" required style="display: none;">
  <input aria-label="subject name" type="text" class="edit-subjects-popup__text" name="subject_name" required>
  <div class="edit-subjects-popup__btns">
    <button type="submit" class="edit-subjects-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="edit-subjects-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="sections-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="section_name" class="sections-popup__label">Enter section name:</label>
  <input aria-label="subject name" type="text" name="subject_name" required style="display: none;">
  <input aria-label="section name" type="text" class="sections-popup__text" name="section_name" required>
  <div class="sections-popup__btns">
    <button type="submit" class="sections-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="sections-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="edit-sections-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="section_name" class="edit-sections-popup__label">Edit section name:</label>
  <input aria-label="subject name" type="text" name="subject_name" required style="display: none;">
  <input aria-label="former section name" type="text" name="former_section_name" required style="display: none;">
  <input aria-label="section name" type="text" class="edit-sections-popup__text" name="section_name" required>
  <div class="edit-sections-popup__btns">
    <button type="submit" class="edit-sections-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="edit-sections-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>

<form class="topics-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="topic_name" class="topics-popup__label">Enter topic name:</label>
  <input aria-label="subject name" type="text" name="subject_name" required style="display: none;">
  <input aria-label="section name" type="text" name="section_name" required style="display: none;">
  <input aria-label="topic name" type="text" class="topics-popup__text" name="topic_name" required>
  <div class="topics-popup__btns">
    <button type="submit" class="topics-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="topics-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>
