<section>
  <div class="title-bar">
    {{#if my.showBread}}
    <div class="bread">
      <div class="burger burger-top"></div>
      <div class="burger burger-middle"></div>
      <div class="burger burger-bottom"></div>
    </div>
    {{/if}}
    <a class="title" href="/">Scribe</a>
  </div>
</section>
