<form class="edit-topics-popup" style="transform: translate(-50%, -50%) scale(0);">
  <label for="topic_name" class="edit-topics-popup__label">Edit topic name:</label>
  <input aria-label="former topic name" type="text" name="former_topic_name" required style="display: none;">
  <input aria-label="topic name" type="text" class="edit-topics-popup__text" name="topic_name" required>
  <div class="edit-topics-popup__btns">
    <button type="submit" class="edit-topics-popup-btn__ok btn" aria-label="ok">OK</button>
    <button type="button" class="edit-topics-popup-btn__cancel btn" aria-label="cancel">Cancel</button>
  </div>
</form>
