<header>
  {{>titlebar}}
  {{>navigation}}
</header>
<main>
  <section>
    {{>navContentSeparator}}
    {{>errorsuccess}}
    {{>popups}}
  </section>
  <section>
    {{>notesContainer}}
    {{>addNotes}}
  </section>
</main>
