<header>
  {{>titlebar}}
  {{>navigation}}
</header>
<main>
  <section>
    {{>navContentSeparator}}
    {{>errorSuccess}}
    {{>commonPopups}}
    {{>topicsPopups}}
    <div class="overlay" style="display: none;"></div>
  </section>
  <section>
    {{>notesContainer}}
    {{>addNotes}}
  </section>
</main>
