*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: rgb(131, 40, 74);
  --primary-color: rgb(254,241,241);
  --navbar-color: rgba(254, 241, 241, 0.9);
  --titlebar-color: rgb(254,241,241);
  --accent-color: rgb(221, 154, 28);
  --popup-background: rgba(254, 241, 241, 0.9);
  --overlay-color: rgba(3, 3, 3, 0.5);
  --throbber-overlay-color: rgba(131, 40, 74, 0.1);
  --shadow-color: rgba(3, 3, 3, 0.3);
  --footer-color: rgba(3, 3, 3, 0.5);
  --notes-container-color: rgb(144, 62, 92);
  --note-color: rgb(254, 241, 241);
  --section-topic-color: rgba(131, 40, 74, 0.9);

  --primary-font: "Antonio";
  --secondary-font: "DancingScript";

  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* UTILS */
h1 {
  margin: 1em 0;
}

h2 {
  margin: 0.75em 0;
}

h3 {
  margin: 0.5em 0;
}

h4 {
  margin: 0.25em 0;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  font-size: 1em;
  cursor: pointer;
}

ol, ul {
  margin-inline-start: 1em;
}

h1 u, h2 u, h3 u, h4 u {
  text-decoration-color: var(--accent-color);
}

u {
  text-decoration-color: var(--background-color);
}

.btn {
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-transform: capitalize;
  border-radius: 0.17em;
}

/* TITLEBAR */
.title-bar {
  height: 5em;
  background-color: var(--titlebar-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  border-bottom: 0.06em solid var(--background-color);
}

.title {
  grid-column: 3/4;
  justify-self: center;
  color: var(--background-color);
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.11em;
}

.bread {
  grid-column: 1/2;
  justify-self: flex-start;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.185em;
  cursor: pointer;
}

.bread.open {
  width: 5em;
  height: 5em;
  margin-left: 0;
}

.burger {
  width: 2em;
  height: 0.25em;
  background-color: var(--background-color);
  border-radius: 0.28em;
  margin: 0.125em;
  transition: all 500ms ease-in-out;
}

.burger.open {
  background-color: var(--accent-color);
}

.burger-top.open {
  transform: scale(0,0);
}

.burger-middle.open {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  transform: rotate(360deg);
  transition: all 500ms ease-in-out;
}

.burger-bottom.open {
  transform: scale(0,0);
}

/* NAVBAR */
.nav-bar {
  background-color: var(--navbar-color);
  width: 18em;
  bottom: 0;
  top: 0;
  left: 0;
  transition: transform 500ms ease-in-out;
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.profile {
  width: 100%;
  padding: 0.5em;
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.profile__head {
  justify-self: center;
  background-color: var(--background-color);
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}

.profile__body {
  justify-self: center;
  background-color: var(--background-color);
  height: 1.25em;
  width: 2.5em;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  font-family: var(--secondary-font);
  font-size: 2em;
  color: var(--accent-color);
}

.account-actions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.account-actions button {
  margin: 0.5em;
  text-align: center;
}

.account-logout,
.account-changeusername,
.account-changepassword,
.account-delete {
  padding: 0.5em 0.5em;
  background-color: var(--background-color);
}

.account-logout:hover, .account-logout:focus,
.account-changeusername:hover, .account-changeusername:focus,
.account-changepassword:hover, .account-changepassword:focus,
.account-delete:hover, .account-delete:focus {
  box-shadow: 0 0 0.17em 0.11em var(--accent-color);
  background-color: var(--primary-color);
  color: var(--background-color);
}

.topic-section {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 1em solid var(--accent-color);
}

.topic-section__head {
  color: var(--background-color);
  font-family: var(--secondary-font);
  font-size: 2em;
  border-bottom: 0.09em solid var(--accent-color);
  margin-bottom: 0.28em;
}

.recent-topic {
  font-size: 1.5em;
  font-family: var(--primary-font);
  color: var(--background-color);
  border-bottom: 0.06em solid var(--accent-color);
  margin-top: 0.125em;
}

.recent-topic:hover, .recent-topic:focus {
  color: var(--accent-color);
  border-bottom: 0.06em solid var(--background-color);
  cursor: pointer;
}

/* BODY */
.nav-content-separator {
  height: 5em;
  width: 100%;
  background-color: var(--primary-color);
}

.back-to-subjects {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-style: dotted;
  text-underline-offset: 0.22em;
  font-family: var(--primary-font);
  margin: 1em;
}

.back-to-subjects:hover,
.back-to-subjects:focus {
  color: var(--accent-color);
  text-decoration-color: var(--primary-color);
}

/* ERROR SUCCESS MESSAGES */
.error-success {
  position: fixed;
  z-index: 7;
  left: 5%;
  right: 5%;
  top: 5em;
  height: 5em;
  border-radius: 0.28em;
  overflow-y: auto;
  background-color: var(--accent-color);
  display: grid;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  transition: transform 350ms ease-in-out;
}

.error-success__mesg {
  grid-column: 1/3;
  text-align: center;
  justify-self: center;
  font-family: var(--primary-font);
  color: var(--background-color);
  padding: 0.28em;
}

.error-success__close {
  grid-column: 3/4;
  justify-self: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.error-success__close .x-limbs {
  position: absolute;
  background-color: var(--background-color);
  width: 1.5em;
  height: 0.17em;
}

.error-success__close .x-limb-1 {
  transform: rotate(45deg);
}

.error-success__close .x-limb-2 {
  transform: rotate(-45deg);
}

/* POPUPS */
.confirm-action-popup,
.edit-subjects-popup,
.subjects-popup,
.edit-sections-popup,
.sections-popup,
.edit-topics-popup,
.topics-popup,
.changeusername-popup {
  background-color: var(--popup-background);
  width: 20em;
  height: 10em;
  border-radius: 0.28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transition: transform 250ms ease-in-out;
}

.confirm-action-popup {
  height: inherit;
  padding-top: 1em;
}

.confirm-action-popup__question {
  font-family: var(--secondary-font);
  color: var(--background-color);
  font-size: 2em;
}

.changepassword-popup {
  background-color: var(--popup-background);
  width: 30em;
  height: 20em;
  border-radius: 0.28em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transition: transform 250ms ease-in-out;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 100%;
  padding: 1em;
}

.current-password-container,
.new-password-container,
.confirm-password-container {
  display: grid;
  align-items: center;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
}

.current-password-container label,
.new-password-container label,
.confirm-password-container label {
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--background-color);
  font-size: 1.2em;
  margin-right: 1em;
}

.current-password-sub-container input,
.new-password-sub-container input,
.confirm-password-sub-container input {
  width: 85%;
}

.current-password-sub-container,
.new-password-sub-container,
.confirm-password-sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-current-password,
.show-new-password,
.show-confirm-password {
  width: 2em;
  height: 2em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-current-password__image,
.show-new-password__image,
.show-confirm-password__image {
  max-width: 100%;
  max-height: 100%;
}

.edit-subjects-popup__label,
.subjects-popup__label,
.edit-sections-popup__label,
.sections-popup__label,
.edit-topics-popup__label,
.topics-popup__label,
.changeusername-popup__label,
.changepassword-popup__label {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  font-size: 2em;
  border-bottom: 0.06em solid var(--background-color);
  margin-bottom: 0.5em;
}

.changepassword-popup__label {
  max-width: max-content;
  justify-self: center;
  margin-bottom: none;
}

.edit-subjects-popup__text,
.subjects-popup__text,
.edit-sections-popup__text,
.sections-popup__text,
.edit-topics-popup__text,
.topics-popup__text,
.changeusername-popup__text,
.changepassword-popup__text {
  border: none;
  outline: none;
  height: 2em;
  width: 70%;
  border-radius: 0.28em;
  box-shadow: 0 0 0.17em 0.11em var(--accent-color);
  font-size: 1em;
  font-family: var(--primary-font);
  text-align: center;
}

.changepassword-popup__text {
  width: 100%;
}

.confirm-action-popup__btns,
.edit-subjects-popup__btns,
.subjects-popup__btns,
.edit-sections-popup__btns,
.sections-popup__btns,
.edit-topics-popup__btns,
.topics-popup__btns,
.changepassword-popup__btns,
.changeusername-popup__btns {
  padding: 1em;
  display: flex;
  align-items: center;
}

.changepassword-popup__btns {
  justify-self: center;
}

.confirm-action-popup__btns button + button,
.edit-subjects-popup__btns button + button,
.subjects-popup__btns button + button,
.edit-sections-popup__btns button + button,
.sections-popup__btns button + button,
.edit-topics-popup__btns button + button,
.topics-popup__btns button + button,
.changeusername-popup__btns button + button,
.changepassword-popup__btns button + button {
  margin-left: 3em;
}

.confirm-action-popup-btn__yes, .confirm-action-popup-btn__cancel,
.edit-topics-popup-btn__ok, .edit-topics-popup-btn__cancel,
.topics-popup-btn__ok, .topics-popup-btn__cancel,
.edit-sections-popup-btn__ok, .edit-sections-popup-btn__cancel,
.sections-popup-btn__ok, .sections-popup-btn__cancel,
.edit-subjects-popup-btn__ok, .edit-subjects-popup-btn__cancel,
.subjects-popup-btn__ok, .subjects-popup-btn__cancel,
.password-popup-btn__ok, .password-popup-btn__cancel,
.username-popup-btn__ok, .username-popup-btn__cancel {
  background-color: var(--background-color);
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.confirm-action-popup-btn__yes:focus, .confirm-action-popup-btn__cancel:focus,
.confirm-action-popup-btn__yes:hover, .confirm-action-popup-btn__cancel:hover,
.edit-topics-popup-btn__ok:focus, .edit-topics-popup-btn__cancel:focus,
.edit-topics-popup-btn__ok:hover, .edit-topics-popup-btn__cancel:hover,
.topics-popup-btn__ok:focus, .topics-popup-btn__cancel:focus,
.topics-popup-btn__ok:hover, .topics-popup-btn__cancel:hover,
.edit-sections-popup-btn__ok:focus, .edit-sections-popup-btn__cancel:focus,
.edit-sections-popup-btn__ok:hover, .edit-sections-popup-btn__cancel:hover,
.sections-popup-btn__ok:focus, .sections-popup-btn__cancel:focus,
.sections-popup-btn__ok:hover, .sections-popup-btn__cancel:hover,
.edit-subjects-popup-btn__ok:focus, .edit-subjects-popup-btn__cancel:focus,
.edit-subjects-popup-btn__ok:hover, .edit-subjects-popup-btn__cancel:hover,
.subjects-popup-btn__ok:focus, .subjects-popup-btn__cancel:focus,
.subjects-popup-btn__ok:hover, .subjects-popup-btn__cancel:hover,
.password-popup-btn__ok:focus, .password-popup-btn__cancel:focus,
.password-popup-btn__ok:hover, .password-popup-btn__cancel:hover,
.username-popup-btn__ok:focus, .username-popup-btn__cancel:focus,
.username-popup-btn__ok:hover, .username-popup-btn__cancel:hover {
  box-shadow: 0 0 0.17em 0.11em var(--accent-color);
  background-color: var(--primary-color);
  color: var(--background-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  z-index: 3;
}

/* SUBJECTS */
.subjects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subjects__header {
  font-family: var(--primary-font);
  font-size: 2em;
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 0.5em;
  letter-spacing: 0.17em;
  border-bottom: 3px solid var(--accent-color);
}

.subject-add {
  background-color: var(--primary-color);
  padding: 0.5em;
  margin-top: 1em;
  color: var(--background-color);
}

.subject-add:hover,
.subject-add:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.subject-container {
  width: 65%;
  box-shadow: 0 0 0 0.11em var(--primary-color),
    0 0 10.11em 0.33em var(--shadow-color);
  border-radius: 0.28em;
  margin: 1em;
  max-height: 3em;
  overflow: hidden;
  background-color: var(--notes-container-color);
}

.subject-container.show {
  max-height: 1000vh; /* to enable transition to show on height */
  transition: max-height 800ms ease-in-out;
}

.subject-info {
  display: grid;
  grid-template-columns: 70% 1fr;
  align-items: center;
  height: 3em;
}

.subject-name {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 1.8em;
  justify-self: center;
}

.subject-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subject-actions div + div {
  margin-left: 1em;
}

.subject-toggle {
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: .45em solid transparent;
  border-right: .45em solid transparent;
  border-bottom: .75em solid var(--primary-color);
}

.subject-toggle.show {
  transform: rotate(180deg);
  transition: transform 100ms ease;
}

.section-add {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section-add div,
.section-add div::after {
  background-color: var(--primary-color);
  width: 1em;
  height: 0.17em;
  border-radius: 0.17em;
}

.section-add div {
  position: relative;
}

.section-add div::after {
  content: '';
  position: absolute;
  transform: rotate(90deg);
}

.subject-delete {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
}

.subject-delete img {
  max-width: 100%;
  max-height: 100%;
}

.subject-edit {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
}

.subject-edit img {
  max-width: 100%;
  max-height: 100%;
}

.subject__section {
  background-color: var(--navbar-color);
  margin: 0.5em 0;
  max-height: 3em;
  overflow: hidden;
}

.subject__section.show {
  max-height: 1000vh; /* to enable transition to show on height */
  transition: max-height 800ms ease-in-out;
}

.section-info {
  height: 3em;
  padding: 0.5em 0;
  display: grid;
  grid-template-columns: 70% 1fr;
  align-items: center;
}

.subject-section__name {
  font-family: var(--primary-font);
  color: var(--background-color);
  font-size: 1.3em;
  margin-left: 1em;
  border-bottom: 0.09em solid var(--accent-color);
  max-width: max-content;
}

.subject-section__name:hover,
.subject-section__name:focus {
  border-bottom: 0.09em solid var(--accent-color);
}

.subject__section.show .subject-section__name,
.subject__section:hover .subject-section__name,
.subject__section:focus .subject-section__name {
  margin-inline-start: 2em;
}

.section-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-actions div + div {
  margin-left: 1em;
}

.section-toggle {
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: .45em solid transparent;
  border-right: .45em solid transparent;
  border-bottom: .75em solid var(--background-color);
}

.section-toggle.show {
  transform: rotate(180deg);
  transition: transform 100ms ease;
}

.topic-add {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topic-add div,
.topic-add div::after {
  background-color: var(--background-color);
  width: 1em;
  height: 0.17em;
  border-radius: 0.17em;
}

.topic-add div {
  position: relative;
}

.topic-add div::after {
  content: '';
  position: absolute;
  transform: rotate(90deg);
}

.section-delete {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
}

.section-delete img {
  max-width: 100%;
  max-height: 100%;
}

.section-edit {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
}

.section-edit img {
  max-width: 100%;
  max-height: 100%;
}

.section__topic {
  background-color: var(--section-topic-color);
  padding: 0.5em;
  border-top: 0.06em solid var(--primary-color);
  border-bottom: 0.06em solid var(--primary-color);
  cursor: pointer;
}

.section__topic:focus,
.section__topic:hover {
  border-top: 0.06em solid var(--accent-color);
  border-bottom: 0.06em solid var(--accent-color);
}
.section__topic:focus .section-topic__name,
.section__topic:hover .section-topic__name {
  color: var(--accent-color);
}

.section-topic__name {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 1.2em;
  margin-left: 3em;
}

/*** NOTES ***/
.notes-topic {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
}

.topic-name {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 2.5em;
  border-bottom: 3px solid var(--accent-color);
  max-width: max-content;
  text-align: center;
}

.topic-actions {
  position: absolute;
  right: 0;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-actions button + button {
  margin-left: 0.5em;
}

.edit-topic,
.delete-topic {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
}

.edit-topic img,
.delete-topic img {
  max-width: 100%;
  max-height: 100%;
}

.notes-container {
  width: 100%;
}

/* SAVED NOTES */
.saved-notes {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
}

.text-notes, .voice-notes {
  border-radius: 0.28em;
  margin: 1em;
  box-shadow: 0 0 0 0.11em var(--primary-color),
    0 0 10.11em 0.33em var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em 2em;
  background-color: var(--notes-container-color);
  height: fit-content;
}

.text-notes {
  width: 63%;
}

.voice-notes {
  width: 25%;
}

.text-notes__header, .voice-notes__header {
  font-family: var(--primary-font);
  color: var(--primary-color);
  letter-spacing: 0.17em;
  text-transform: uppercase;
  max-width: max-content;
  margin: 0.5em;
}

.text-note, .voice-note {
  width: 100%;
  border-radius: 0.28em;
  background-color: var(--note-color);
  margin: 1em;
  box-shadow: 0 0 0 0.11em var(--primary-color),
    0 0 10.11em 0.33em var(--shadow-color);
  position: relative;
}

.text-note {
  padding: 2em;
  word-wrap: break-word;
}

.voice-note {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-name {
  font-family: var(--secondary-font);
  font-size: 1.8em;
  border-bottom: 0.09em solid var(--accent-color);
  max-width: max-content;
  margin: 0 auto 0.25em;
  text-align: center;
  padding: 0 0.17em;
  word-break: break-all;
}

.note-body * {
  font-family: var(--secondary-font);
  font-size: 1.4em;
  text-align: left;
  text-underline-offset: 0.17em;
  word-break: break-all;
}

.note-body li {
  font-size: 1em;
}

.note-body li::marker {
  color: var(--background-color);
}

.creation-time {
  position: absolute;
  max-width: max-content;
  top: 0;
  left: 0;
  font-family: var(--primary-font);
  font-size: 0.80em;
  color: var(--background-color);
}


.edit-note {
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.17em;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 1.5em;
  margin: 0.17em;
}

.edit-note__image {
  max-width: 100%;
  max-height: 100%;
}

.delete-note {
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.17em;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.17em;
}

.delete-note__image {
  max-width: 100%;
  max-height: 100%;
}

.audio-player-container {
  width: 90%;
  border-radius: 0.28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.audio__seek-bar {
  width: 90%;
  height: 0.5em;
  border-radius: 0.28em;
  background-color: var(--primary-color);
  box-shadow: 0 0 0 0.11em var(--accent-color);
  position: relative;
  margin: 0.5em;
  cursor: pointer;
}

.audio__seek {
  position: absolute;
  border-radius: 0.28em;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  width: 0;
  height: 0.5em;
}

.audio__time {
  margin: 0.25em;
  font-family: var(--primary-font);
  color: var(--background-color);
}

.audio__time span {
  font-family: var(--primary-font);
  color: black;
}

.audio-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

.audio-actions button + button {
  margin-left: 3em;
}

.audio-actions > button  {
  border: none;
  outline: none;
  background-color: unset;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transition: box-shadow 350ms ease;
}

.audio-actions > button:hover,
.audio-actions > button:focus {
  box-shadow: 0 0 0 0.17em var(--primary-color),
        0 0 0 0.28em var(--accent-color);
}

.audio-actions > button > div {
  width: 100%;
  height: 100%;
}

.audio-actions > button > div img {
  max-width: 100%;
  max-height: 100%;
}


/* TEXT NOTES */
.text-notes-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.entry-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.entry-name {
  border: none;
  outline: none;
  height: 2em;
  border-radius: 0.28em;
  box-shadow: 0 0 0.17em 0.11em var(--accent-color);
  font-family: var(--primary-font);
  font-size: 1em;
  text-align: center;
  margin-left: 0.5em;
}

.entry-name-label {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 1.25em;
  color: var(--primary-color);
}

.text-notes-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-cancel {
  margin: 1em;
  text-transform: uppercase;
  font-family: var(--primary-font);
  color: var(--accent-color);
  background-color: var(--primary-color);
  padding: 0.5em 0.5em;
  letter-spacing: 0.11em;
  border-radius: 0.28em;
}

.notes-cancel:hover, .notes-cancel:focus {
  color: var(--background-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 0 0.11em var(--accent-color),
              0 0 0 0.22em var(--primary-color);
}

.notes-save {
  margin: 1em;
  text-transform: uppercase;
  font-family: var(--primary-font);
  color: var(--accent-color);
  background-color: var(--primary-color);
  padding: 0.5em 0.5em;
  letter-spacing: 0.11em;
  border-radius: 0.28em;
}

.notes-save:hover, .notes-save:focus {
  color: var(--background-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 0 0.11em var(--accent-color),
              0 0 0 0.22em var(--primary-color);
}

.add-notes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.add-text-notes-container,
.add-voice-notes-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}

.add-text-note,
.add-voice-note {
  background-color: var(--primary-color);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0.5em 1em;
  transition: box-shadow 350ms ease;
  overflow: hidden;
}

.add-text-note img{
  max-height: 65%;
  max-width: 65%;
}

.add-voice-note img {
  max-height: 100%;
  max-width: 100%;
}

.add-text-note:focus-within, .add-voice-note:focus-within,
.add-text-note:hover, .add-voice-note:hover {
  box-shadow: 0 0 0 0.11em var(--accent-color),
              0 0 0 0.22em var(--primary-color);
}

.add-text-notes-container > p,
.add-voice-notes-container > p {
  text-transform: uppercase;
  color: var(--background-color);
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  position: absolute;
  right: 100%;
  transform: scaleX(0);
  transform-origin: right;
  width: max-content;
  display: inline-block;
  padding: 0.28em;
  border-radius: 0.28em;
  box-shadow: 0 0 0 0.11em var(--accent-color);
  transition: transform 250ms ease;
}

.add-text-note:focus-within ~ p, .add-voice-note:focus-within ~ p,
.add-text-note:hover ~ p, .add-voice-note:hover ~ p {
  transform: scaleX(1);
  transition: transform 100ms ease;
  transition-delay: 200ms;
}

/* AUDIO NOTES */
.voice-notes-form {
  display: grid;
  place-items: center;
  margin-bottom: 2em;
}

.audio-entry-container {
  background-color: var(--accent-color);
  border-radius: 0.28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recording-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-record-button {
  outline: none;
  border: none;
  background: none;
  margin: 1em;
}

.audio-record-button > div {
  height: 2em;
  width: 2em;
  background-color: var(--background-color);
  border-radius: 50%;
  box-shadow: 0 0 0 0.22em var(--primary-color);
  transition: border-radius 350ms ease;
  cursor: pointer;
}

.audio-record-button.recording > div {
  border-radius: 0.06em;
}

.recording-info {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 1.25em;
  color: var(--primary-color);
  margin: 1em;
}

.audio-actions-container audio {
  margin-top: 1em;
}

.audio-actions__btns {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.audio-actions__btns button + button{
  margin-left: 3em;
}

.audio-btn__discard, .audio-btn__save {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.25em 0.5em;
}

.audio-btn__discard:focus, .audio-btn__save:focus,
.audio-btn__discard:hover, .audio-btn__save:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.footer-container {
  margin-top: 3em;
  background-color: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.footer__caption {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.footer__copyright {
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.11em;
  text-align: center;
}

/* THROBBER */
.throbber-container {
  position: relative;
  z-index: 8;
}

.throbber-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--throbber-overlay-color);
}

.throbber {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.75em solid var(--primary-color);
  border-top-color: var(--accent-color);
  border-top-style: solid;
  animation: spin-throbber 700ms infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin-throbber {
  from { transform: translate(-50%, -50%) rotate(0deg);}
  to { transform: translate(-50%, -50%) rotate(360deg);}
}

/* 404 */
.not-found {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.not-found-status {
  font-size: 10vw;
  color: var(--accent-color);
  font-family: var(--secondary-font);
}

.not-found-explanation {
  font-size: 5vw;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  text-transform: capitalize;
}

/* PHONES */
@media only screen and (max-width: 767px) {
  .title-bar {
    height: 4em;
  }

  .nav-bar {
    width: 80%;
  }

  .nav-content-separator {
    height: 4em;
  }

  .error-success {
    top: 4em;
    height: 7em;
  }

  .subject-container {
    margin: 0.5em;
    width: 90%;
  }

  .subject-info {
    grid-template-columns: 60% 1fr;
  }

  .subject-name {
    font-size: 1.5em;
    max-width: 100%;
    overflow: auto;
  }

  .subject-actions div + div {
    margin-left: 0.5em;
  }

  .subject__section {
    margin: 0.25em 0;
  }

  .section-info {
    grid-template-columns: 60% 1fr;
  }

  .subject-section__name {
    font-size: 1em;
    margin-left: 0.5em;
  }

  .section-actions div + div {
    margin-left: 0.5em;
  }

  .section-topic__name {
    font-size: 1em;
    margin-left: 1em;
  }

  .topic-popup,
  .changepassword-popup,
  .changeusername-popup {
    max-width: 90%;
  }

  .current-password-container label,
  .new-password-container label,
  .confirm-password-container label {
    max-width: 90%;
    text-align: center;
    font-size: 1em;
  }

  .current-password-sub-container input,
  .new-password-sub-container input,
  .confirm-password-sub-container input {
    width: 75%;
  }

  .topic-name {
    font-size: 2em;
  }

  .saved-notes {
    flex-direction: column;
  }

  .text-notes, .voice-notes {
    padding: 0 1em 1em;
    width: 75%;
  }

  .note-name {
    font-size: 1.8em;
  }

  .add-text-note,
  .add-voice-note {
    width: 2.5em;
    height: 2.5em;
  }

  .add-text-note:focus-within, .add-voice-note:focus-within,
  .add-text-note:hover, .add-voice-note:hover {
    box-shadow: 0 0 0 0.11em var(--accent-color),
                0 0 0 0.22em var(--primary-color);
  }

  .add-text-note img {
    max-height: 70%;
    max-width: 70%;
  }

  .text-notes-form,
  .voice-notes-form {
    margin: 0 4em 0 1em;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer__caption {
    text-align: center;
  }

  .footer__copyright {
    margin-bottom: 0.5em;
  }

  .not-found-status {
    font-size: 40vw;
  }

  .not-found-explanation {
    font-size: 10vw;
  }
}

/* TABLETS */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .subject-container {
    width: 80%;
  }

  .saved-notes {
    flex-direction: column;
  }

  .text-notes, .voice-notes {
    width: 80%;
  }

  .text-notes-form,
  .voice-notes-form {
    margin: 0 6em 0 2em;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer__caption {
    text-align: center;
  }

  .footer__copyright {
    margin-bottom: 0.5em;
  }

  .not-found-status {
    font-size: 20vw;
  }

  .not-found-explanation {
    font-size: 7vw;
  }
}

/* LARGE DISPLAYS */
@media only screen and (min-width: 1400px) {
  :root {
    font-size: 20px;
  }

  .subjects__header {
    border-bottom: 5px solid var(--accent-color);
  }

  .topic-name {
    border-bottom: 5px solid var(--accent-color);
  }
}

/* 4K DISPLAYS */
@media only screen and (min-width: 1999px) {
  :root {
    font-size: 40px;
  }

  .subjects__header {
    border-bottom: 9px solid var(--accent-color);
  }

  .topic-name {
    border-bottom: 9px solid var(--accent-color);
  }
}
